.bigTitle,
.subTitle,
.text {
    text-align: center;
    margin-top: 16px;
}
.bigTitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.subTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.text {
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
}
