.type {
    height: 108px;
    width: 108px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    border: none;
}
img {
    display: block;
    margin: 0;
    border-radius: none;
}
.type2 {
    flex-direction: column;
}
.type5 {
    flex-direction: column;
}
.type9 {
    width: 239px;
    height: 121px;
}
.list-group {
    width: 108px;
}
